<form>
    <div>
        <label class="form-label mt-4" for="txtId">
            Id: &nbsp;
        </label>
        <input class="form-control" id="txtId" type="text" />
    </div>
    <div>
        <label class="form-label mt-4" for="txtName">
            Name:&nbsp;
        </label>
        <input type="text" id="txtName" class="form-control" />
    </div>
    <div>
        <label class="form-label mt-4" for="txtDesc">
            Desc:&nbsp;
        </label>
        <textarea id="txtDesc" class="form-control">
        </textarea>
    </div>

    <div>
        <label class="form-label mt-4" for="txtCode">Code:&nbsp;</label>
        <input class="form-control" type="text" id="txtCode" />
    </div>
    <div>
        <label class="form-label mt-4" for="txtReleaseDate">
            Released On:&nbsp;
        </label>
        <input class="form-control" type="date" id="txtReleaseDate" />
    </div>
    <div>
        <label class="form-label mt-4" for="txtPrice">
            Price:&nbsp;
        </label>
        <input class="form-control" type="text" id="txtPrice" />
    </div>
    <div>
        <label class="form-label mt-4" for="txtRating">
            Rating:&nbsp;
        </label>
        <input class="form-control" type="text" id="txtRating" />
    </div>
    <div>
        <label class="form-label mt-4" for="txtImageUrl">
            Image URL: &nbsp;
        </label>
        <input class="form-control" type="text" id="txtImageUrl" />
    </div>
    <div class="button-center">
        <button type="button" class="btn btn-primary">
            Add
        </button>
    </div>
</form>