@if(!isLoadingOver()){
<span>Loading...</span>
}
@else if (errorMessage()!=='') {
<span>{{errorMessage()}}</span>
}@else if (todos().length===0) {
<span>No records</span>
}@else {
<h2>List of Tasks</h2>
<br>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Assigned To</th>
            <th>Title</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for (todo of todos(); track $index) {
        <tr>
            <td>{{todo.id}}</td>
            <td>{{todo.userId}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.completed?'Done':'Pending'}}</td>
        </tr>
        }
    </tbody>
</table>
}