/* element selector */
/* table>tbody>tr>td>img {
    width: 80px;
    margin: 2px;
} */

/* id selector */
/* #pImage {
    width: 80px;
    margin: 2px;
} */

/* class selector */
.img-style{
    width: 80px;
    margin: 2px;
    /* background-color: bisque; */
}
.img-border{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: bisque;        
}